# init
_site
.DS_Store
.vscode
.idea
debug_script/*

# envs
pyproject.toml

# in progress
computing-systems/*
Programming/VSL/Tabpy Tutorial.ipynb

Tools/*

# confidential
*/*.csv
*/task.py
*/task.sql
